<header>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark">
        <a href="#" class="navbar-brand d-flex align-items-center">
            <img src="assets/images/ce2.jpg"/>
             CeAlCuadrado Networks
        </a>
    </nav>
</header>

<main>
    <div class="container">
        <div class="row">
            <div class="col-12 mb-4" *ngFor="let network of networks">
                <app-network [network]="network"></app-network>
            </div>
        </div>
    </div>
</main>


<footer class="d-flex flex-column flex-sm-row justify-content-sm-between">
    <span class="social-networks">
        <span *ngFor="let socialNetwork of socialNetworks">
            <a [href]="socialNetwork.url" target="_blank" [title]="socialNetwork.title">
                <fa-icon [icon]="socialNetwork.icon" [fixedWidth]="true"></fa-icon>
            </a>
        </span>
    </span>
    <span>
        <fa-icon [icon]="faEnvelope" fixedWidth="true"></fa-icon> cealcuadrado[at]outlook.com
    </span>
    <span>
        &#169; {{year}} CeAlCuadrado
    </span>
</footer>
